<div class="container">
    <div class="footer">
        <div class="footer__left">
            2017, All Rights Reserved
        </div>
        <div class="footer__right">
            support@petum.com
        </div>
    </div>
</div>
