<div class="container">
    <div class="navbar">
        <div class="navbar-item">
            <a class="navbar-link" href="">
                HOME
            </a>
        </div>
        <div class="navbar-item">
            <a class="navbar-link" href="">
                DEVICES
            </a>
        </div>
        <div class="navbar-item">
            <a class="navbar-link" href="">
                MONITOR
            </a>
        </div>
        <div class="navbar-item">
            <a  class="navbar-link" href="">
                SETTINGS
            </a>
        </div>
    </div>
</div>
