<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Petum: Take care everywhere!</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <link rel="stylesheet" href="/css/style.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <link rel="shortcut icon" type="image/png" href="/img/favicon.png">

</head>
<body>

  <div class="container">
    <div class="row ptm-register-header">
      <div class="six columns offset-by-three">
        <h2 class="title">
          Login
        </h2>
        <form method="post" action="/user/login">
          <label for="email">
            Email
          </label>
          <input class="u-full-width" type="email" name="email" placeholder="Your Email">
          <label for="password">
            Password
          </label>
          <input class="u-full-width" type="password" name="password">
          <br/>
          <input
            class="button-primary u-full-width"
            type="submit"
            name="login"
            value="Login"
           />
        </form>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="six columns offset-by-three">
        <div class="ptm-footer__wrapper">
            <div class="footer">
                <div class="footer__left">
                    2017, All Rights Reserved
                </div>
                <div class="footer__right">
                    support@petum.com
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
